$primary-color: #ffca58;
$secondary-color: #155263;

$primary-button-font-color: #484848;
$secondary-button-font-color: #155263;

$primary-color-5: #ffd780;
$white-5: #f5f5f6;
$white-100: #fff;

$gray-10: #cacaca;
$gray-5: #484848;
$black-5: #101010;
