%filterButtonPrimary {
  @extend %filterButton;
  border: 1px solid $filter-active-border-color;
  color: $filter-active-font-color;
  background-color: $secondary-color;

  &:hover {
    background-color: $secondary-color-5;
    border: 1px solid $secondary-color-5;
  }
}

%filterButtonSecondary {
  @extend %filterButton;

  &:hover {
    background-color: $white-color-5;
  }
}
