.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;

  .filterButtonPrimary {
    @extend %filterButtonPrimary;
  }

  .filterButtonSecondary {
    @extend %filterButtonSecondary;
  }
}
