.buttonContainer {
  .buttonPrimary {
    @extend %btn;
    border: 1px solid $filter-active-border-color;
    color: $filter-active-font-color;
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-5;
      border: 1px solid $secondary-color-5;
    }
  }

  .buttonSecondary {
    @extend %btn;

    &:hover {
      background-color: $white-color-5;
    }
  }
}
