.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;

  .logo {
    width: 140px;
  }
}

.heroSection {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 44px 21px 44px 21px;

  .heroSectionHeader {
    font-size: 44px;
    color: #fff;
  }

  .heroSectionUSP {
    font-size: 18px;
    color: #fff;
    margin-top: 48px;

    .USPList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 6px;

      .USPListItem {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .checkIcon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.filters {
  gap: 12px;
  padding: 0 21px 0 21px;
  margin-top: 30px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Desktop */
@media (min-width: 700px) and (max-width: 1536px) {
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
