.heroSection {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 44px 21px 44px 21px;

  .heroSectionHeader {
    font-size: 44px;
    color: #fff;
  }

  .heroSectionUSP {
    font-size: 18px;
    color: #fff;
    margin-top: 48px;

    .USPList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 6px;

      .USPListItem {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .checkIcon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.filters {
  gap: 12px;
  padding-top: 30px;
}

.doctorsSection {
  margin-top: 32px;

  .gridContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: minmax(110px, auto) 1fr;
    gap: 10px;

    .image {
      .personImage {
        width: 96px;
        height: 96px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .speciality {
        font-size: 10px;
        color: #484848;
        font-weight: 700;
      }

      .name {
        font-size: 22px;
        color: $primary-color;
        font-weight: 400;
      }

      .address {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        color: #484848;
        font-weight: 400;
      }
    }

    .score {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      .round {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1.35px solid $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .quality {
        font-size: 12px;
        color: #101010;
        font-weight: 700;
      }

      .qunoscore {
        font-size: 10px;
        color: #484848;
        font-weight: 400;
      }
    }

    .startingFrom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .text {
        font-weight: 400;
        color: #101010;
        font-size: 12px;
      }

      .price {
        font-weight: 700;
        color: #101010;
        font-size: 12px;
      }
    }

    .reviews {
      .item {
        @extend %USPItem;
      }
    }

    .CTAButton {
      button {
        @extend %buttonSecondary;
      }
    }
  }
}

.content {
  padding: 0 21px 0 21px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Desktop */
@media (min-width: 700px) and (max-width: 1536px) {
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
