%buttonPrimary {
  @extend %button;
  border: 1px solid $primary-color;
  color: $primary-button-font-color;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-5;
    border: 1px solid $primary-color-5;
  }
}

%buttonSecondary {
  @extend %button;
  color: $secondary-button-font-color;
  border: 1px solid $secondary-color;

  &:hover {
    background-color: $white-5;
  }
}
