:root {
  --primary-color: #155263;
  --secondary-color: #ffca58;
  --secondary-color-5: #ffd780;
  --white-color-5: #f5f5f6;
  --filter-active-border-color: #ffca58;
  --filter-inactive-border-color: #cacaca;
  --filter-active-font-color: #101010;
  --filter-inactive-font-color: #484848;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
