.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

.logo {
  width: 140px;
}

.heroSection {
  background-color: var(--primary-color);
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 21px;
  padding-right: 21px;
}

.heroSectionHeader {
  font-size: 44px;
  color: #fff;
}

.heroSectionUSP {
  font-size: 18px;
  color: #fff;
  margin-top: 48px;
}

.checkIcon {
  width: 24px;
  height: 24px;
}

.USPList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6px;
}

.USPListItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
