.items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 12px;
  -webkit-overflow-scrolling: touch;
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  flex: 0 0 auto;
  margin-right: 3px;
}
